.Messages {
  width: 78%;
  right: 0;
  display: flex;
}

.messagesWrapper {
  width: 65%;
  border-radius: 3px;
}

.messages_types {
  width: 35%;
  height: fit-content;
}

.messages_types {
  border-radius: 4px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  background: rgba(165, 165, 165, 1);
  margin-left: 3rem;
  margin-top: .8rem;
  padding: .8rem 0 .8rem 0;
  font-size: 110%;
}

.messages_type {
  transition: 150ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .25rem 0 .25rem 0;
  cursor: pointer;
  span {
    margin-left: 3rem;
  }
  &:hover {
    background: rgb(192, 192, 192);;
  }
}