.sign_back {
  height: 90%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  overflow: hidden;
}

.signWrapper {
  position: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  top: 30%;
  max-height: 100%;
  width: 45%;
  padding: 2rem 2.5rem;
  z-index: 200;
  background: rgb(217, 217, 217);
  border-radius: 5px;
  span {
    text-align: center;
    color: rgb(46, 64, 65);
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }
}