.signWrapper {
  position: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  max-height: 100%;
  transform: translateY(-20%);
  width: 100%;
  padding: 2rem 2.5rem;
  z-index: 200;
  background: rgb(217, 217, 217);
  border-radius: 5px;
  span {
    text-align: center;
    color: rgb(46, 64, 65);
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }
}