@import 'src/containers/Main/Profile/Profile.module.scss';

.Album {
  @include back;
  width: 78%;
  height: 100%;
  padding: 1.2rem 1rem;
  padding-top: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
  hr {
    width: 97%;
    margin: 1.4rem 0;
    height: 1px;
    background-color: #f1f1f1;
  }
}

.main_headline {
  font-size: 1.9rem;
  font-weight: 400;
  margin-bottom: .7rem;
  font-style: italic;
  color: #e5f6f6;
  text-shadow: 0 0 2px #f1f1f1;
}

.add_photo_button {
  width: 80%;
}