$backColor: rgba(165, 165, 165, 0.7);

:export {
  backColor: $backColor;
}

@mixin back() {
  margin: 0 1vmin 1vmin;
  background: rgba(165, 165, 165, 0.7);
  border-radius: 5px;
  padding: 1.5vmin 1.5vmin 1.5rem 1.5vmin;
}

.Profile {
  width: 78%;
}

.ProfileWrapper {
  display: flex;
}

.leftBar {
  width: 32%;
  //background: rgba(40, 200, 224, 0.7);
}

.photoContainer {
  text-align: center;
  @include back;
}

.photoText {
  padding: 2px;
  background: #ffffff;
  border-radius: 6px;
}

.photo_img {
  margin: 10px 0 10px 0;
  display: flex;
  align-items: center;
  position: relative;
  height: 20rem;
  img {
    width: 100%;
    max-height: 100%;
    object-position: center;
    border-radius: 2px;
    object-fit: cover;
  }
}

.buttons_under_photo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  button {
    margin: 0 .1rem;
    font-size: .84rem;
    padding: .35rem;
    width: 48%;
    transition: 150ms;
    &:hover {
      //color: rgb(255, 255, 255)
      background: rgb(212, 212, 212);
    }
  }
}

.followers {
  margin-top: .4rem;
  @include back;
  padding-bottom: 1rem;
}

.followers_items {
  display: flex;
  flex: 0 0 33.333%;
  justify-content: space-around;
}

.barText {
  width: 100%;
  margin-bottom: 1vh;
  position: relative;
  cursor: default;
}

.barTextLeft {
  font-size: .95rem;
  color: #ffffff;
}

.barTextRight {
  font-size: .8rem;
  color: #ffffff;
  cursor: pointer;
  font-style: italic;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 1.2vmin;
  transition: 150ms;
  &:hover {
    transform: scale(1.15);
  }
}

.favorites {
 margin-top: 3vh;
  @include back;
}

.rightBar {
  width: 63%;
  padding: 1.5vmin 1.5vmin 4vmin 2vmin;
  margin: 0 1vmin 1vmin;
  //background: rgba(40, 200, 224, 0.7);
  background: rgba(165, 165, 165, 0.7);
  border-radius: 5px;
}

.userName {
  display: flex;
  flex-direction: row;
  position: relative;
  color: #ffffff;
  //margin-bottom: 3vmin;
}

.userName_text {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 0 1vh 0;
}

.userStatus {
  top: 0;
  right: 0;
  font-style: italic;
  position: absolute;
  cursor: default;
}

.userNameItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userName_edit {
  display: flex;
  padding-left: .4rem;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.mainUserData {
  text-align: center;
  margin-top: 1.55rem;
  margin-bottom: 1.55rem;
}

.mainData_item {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 1.5vmin;
  margin-bottom: 1.5vmin;
}

hr:nth-of-type(2) {
  margin-top: 1vmin;
}

.data_item {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 1.05rem;
}

.data_itemLeft {
  width: 36%;
  color: #ffffff;
  text-align: left;
}

.data_itemRight {
  width: 60%;
  color: rgb(31, 117, 164);
  text-align: left;
}

.noFollows {
  font-size: 1.2rem;
  color: rgba(50,50,50, .8);
  font-style: italic;
  text-align: center;
}

.follows_count {
  font-style: italic;
}

.userPhotos {
  hr {
    width: 85%;
  }
}

.add_photo_button {
  width: 70%;
  margin: 0 auto;
}

.no_photos_container {
  height: 40vh;
  border-radius: 7%;
  background: rgb(142,245,244);
  background: linear-gradient(0deg, rgba(129, 212, 212, 0) 0%, rgba(188,213,213,1) 100%);
}

.no_photos_headline {
  text-align: center;
  font-style: italic;
  font-size: 2.5rem;
  color: #4b4e4e;
  text-shadow: 0 0 4px #ffffff, 1px 1px 2px #ffffff
}