.ProfileIcon {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
  justify-content: center;
  align-items: center;
  span {
    text-align: center;
    width: 100%;
  }
}

.imgContainer {
  height: 4rem;
  width: 4rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    border-radius: 50%;
    cursor: pointer;
  }
}

.userName {
  color: #ffffff;
  font-size: 1.4vmin;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 4rem;
  &:hover {
    text-decoration: underline;
  }
}

.all {
  //margin: 0 .7rem;
  //flex: 0 0 25%;
  transform: scale(1.5)
  //&.imgContainer {
  //  height: 6rem;
  //  width: 6rem;
  //}
}