.NavBar {

}

.links {
  display: list-item;
  list-style: none;
  text-decoration: none;
  margin-left: .8rem;
}

.link {
  text-decoration: none;
  transition: .15s ease-in;
  width: fit-content;
  span {
    color: #f1f1f1;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
    &:hover {
      text-decoration: none;
      color: rgb(60, 56, 56);
      opacity: .7;
    }
  }
  &:hover {
    text-decoration: none;
    transform: translateX(5%);
    cursor: pointer;
  }
}