.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.input_block {
  position: relative;
  width: 100%;
  input {
    width: 100%;
    padding-right: 2.5rem;
  }
  i {
    position: absolute;
    color: rgb(71, 71, 71);
    right: 0;
    top: 50%;
    transform: translateY(-45%);
    margin-right: .85rem;
    font-size: 1.2rem;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      opacity: .7;
    }
  }
}

.input_label {
  font-size: 2rem;
  margin-bottom: .1rem;
}

.input_item {
  border-radius: 4px;
  border: 1px solid rgba(198, 198, 198, 0.9);
  //box-shadow: 1px 1px 5px 1px rgba(65, 65, 76, 0.4);
  font-size: 1.2rem;
  padding: .4rem;
  background-color: whitesmoke;
  &:focus {
    outline: none;
  }
}

.input_error {
  color: #b01c1c;
  font-size: 1em;
  font-weight: 500;
  display: flex;
  margin-left: .2rem;
}

.text_2 {
  label{
    font-size: 2.5rem;
  }
  input{
    font-size: 1.5rem;
  }
  span{
    font-size: 1.2rem;
  }
}