.ChangeUserName {
  align-self: center;
  justify-self: center;
  position: relative;
  input {
    background-color: whitesmoke;
    width: 100%;
    z-index: 100;
    padding: .3rem .6rem .3rem .6rem;
    font-family: Segoe UI, Helvetica, sans-serif;
    font-size: 1.1rem;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    outline: none;
    border-radius: 4px;
    bottom: 0;
  }
  i {
    position: absolute;
    top: 0;
    right: 0;
    margin: .5rem;
    font-size: 1.1rem;
    color: #6b7272;
    cursor: pointer;
  }
}

.wrapper {
  padding: 1.5rem 2rem;
  background-color: whitesmoke;
  border-radius: 8px;
  border: 1px solid #bebbbb;
}