.Sidebar {
  height: 70vh;
  background-color: rgba(62, 127, 214, 0.9);
  border-radius: 5px;
  border: #204976 2px solid;
  box-shadow: 0 3px 10px 3px rgba(2, 18, 48, .6);
  box-shadow-top: none;
  width: 17%;
  margin-right: 2.3rem;
}