@import 'src/containers/Header/Header.module';

.CreateAcc {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  div:first-child {
    position: relative;
  }
}

.wrapper {
  @include baseColor;
  width: 50%;
  padding: 3rem;
  position: relative;
  button:first-child {
    right: 0;
    position: absolute;
    top: 0;
    margin: 2rem;
    z-index: 100;
  }
  form {
    width: 100%;
    input:last-child {
      height: 200%;
    }
    button {
      margin-top: 1.5rem;
    }
  }
}

.date{
  font-size: 2rem;
  margin-bottom: .1rem;
}